<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  
    <div formGroupName="address">
      <h3>Address</h3>
  
      <label>
        Street:
        <input type="text" formControlName="street">
      </label>
  
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
      
      <label>
        State:
        <input type="text" formControlName="state">
      </label>
  
      <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
   
  
    
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
   -->

  <div class="example-container">
    <div class="form-container">
      <form [formGroup]="profileForm" (submit)="onSubmit()">

        <!-- <mat-form-field class="form-field" appearance="outline">
          <mat-label> First Name

          </mat-label>
          <input matInput formControlName="firstName" type="text">
          <mat-error *ngIf="profileForm.controls.firstName.touched && profileForm.controls.firstName.invalid">
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Last Name
          </mat-label>
          <input matInput formControlName="lastName" type="text">
          <mat-error *ngIf="profileForm.controls.lastName.touched && profileForm.controls.lastName.invalid">
          </mat-error>
        </mat-form-field> -->

        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Username
          </mat-label>
          <input matInput formControlName="username" type="text">
          <mat-error *ngIf="profileForm.controls.username.touched && profileForm.controls.username.invalid">
            <!-- <span *ngIf="profileForm.controls.userName.errors">This field is mandatory.</span> -->
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="profileForm.controls.email.touched && profileForm.controls.email.invalid">
            <!-- <span *ngIf="profileForm.controls.email.errors.required">This field is mandatory.</span> -->
            <!-- <span *ngIf="profileForm.controls.email.errors.pattern">This field is invalid.</span> -->
          </mat-error>
        </mat-form-field>
<!-- 
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Phone Number
          </mat-label>
          <input matInput formControlName="phoneNumber" type="number">
          <mat-error *ngIf="profileForm.controls.phoneNumber.touched && profileForm.controls.phoneNumber.invalid">
          </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="fill">
          <mat-label>Enter DOB</mat-label> -->
          <!-- #docregion toggle -->
          <!-- <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
          <!-- #enddocregion toggle -->
        <!-- </mat-form-field> -->

        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Create Password
          </mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="profileForm.controls.password.touched && profileForm.controls.password.invalid">
            <!-- <span *ngIf="profileForm.controls.userName.errors">This field is mandatory.</span> -->
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Re-Enter Password
          </mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="profileForm.controls.password.touched && profileForm.controls.password.invalid">
            <!-- <span *ngIf="profileForm.controls.userName.errors">This field is mandatory.</span> -->
          </mat-error>
        </mat-form-field>


        <br>
        <button mat-raised-button color="primary" type="submit" class="btn btn-primary">SignUp</button>
      </form>
    </div>
  </div>

<!--   
<div>
   <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
   
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
   
   
      <mat-form-field appearance="standard">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
   
   
      <mat-form-field appearance="standard">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder" formControlName="email">
      <mat-hint>Hint</mat-hint>
      </mat-form-field>
   
   
      <mat-form-field appearance="standard">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
   
  </form>
</div> -->