.home-container {
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.left-container { 
    background-image: url("../../../assets/dashboard_bg.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media only screen and (max-width: 600px) {
    .left-container {
        background-image: url("../../../assets/dashboard_small.png");;
        background-color: #fefefe;
        height: 158px;
        width: 172px;
        position: fixed;
        background-position: center;
        margin-left: 20%;
    }
  }